




.jumbo {
	width: 100vw;
	height: 100vh;
	display: inline-block;
	font-family: "Futura", Courier, monospace;
	
}


.about {
	background-color: hsla(240, 100%, 50%, .5);
}

.future {
	background-color: hsla(0, 100%, 50%, .75);
}

.contact {
	background-color: hsla(120, 10%, 50%, 1);
	height: 150vh;
}

.main {
	background: url(assets/images/prairie.jpg);


}

.hero {
	margin: 10vh 10vw 0 60vw;
	text-align: center;
}

.menu {
	padding-top: 1vh;
	text-align: center;
	color: white;

}

.menu div{
	display: inline-block;
	text-decoration: none;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 5px;
	text-transform: uppercase;
	border-radius: 5px;
	
}

.menu p {
	padding-left: 50px;
}


 h2 {
	font-size: 200px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 400;
	border-bottom: solid 5px;


}


.hero a {
	color: white;
	text-decoration:none;
}

.about {

}


.wrapper {

}

.blur {
	opacity: 0.5;
}


/*
====================
FORM
====================
*/


input, select, textarea {
	font: 400 20px/25px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 2px solid #c6c9cc;
	border-radius: 5px;
	display: block;
	margin-left: 10px 0 20px 0;

}

textarea {
	height: 200px;
	width: 300px;
}


.contact-form {
	max-width: 400px;
	width: 400px;
	text-align: left;

}















